*{
    color: #F7F8FA;
    }

body{
    background-color: #F7F8FA;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    
}
.crop {
    position: absolute;
    display: flex;
    width: 1800px;
    height: 520px;
    overflow: hidden;
    top:-150px;
    left: 50%;
    transform: translate(-50%);
}

hr { 
    position: relative;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 0.8px;
    background:black;
    bottom: -120px;

  } 

.crop img {
    width: 100%;
    filter: brightness(50%);

    }

    h1{
        position: absolute;
        display: inline-block;
        font-size: 30px;
        text-align: center;
        top: 150px;
        width: 100%;
        font-family: helvetica;
        
    }
 h1 .orange {
     background-color: transparent;
     color: orange;
 }
#search{
    position: relative;
    display: inline-block;
    left: 50%;
    top: 39vh;
    transform: translate(-50% );
    width: 900px;
    height: 85px;
    text-align: left;
    background-color: white;
    overflow: hidden;
    box-shadow:  1px 3px 5px 2px rgba(150, 150, 150, 0.795);
    border-radius: 4px;
    padding: 9px;
       
}
    button{ 
    float: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100px;
    background-color: #00ADEF;
    border: none;
    color:white;
    font-family: sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
}

#magni {
    -webkit-transform: rotate(-45deg); 
    transform: rotate(-45deg);
    color:white;
    font-size: 40px;
    text-shadow: -0.5px 0 #474747c0;
}

input{
    margin: 5px;
    padding: .5em .6em;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 px 3px #ddd;
    border-radius: 4px;
    vertical-align: middle;
    box-sizing: border-box;
    color: #443729;
    font-weight: bold;
    position: relative;

    
}

label{
     font: 300 16px/1.7 'Open Sans', sans-serif;
     color: #443729;
     cursor: pointer;
} 

.form-radio
{
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     background-color: #f1f1f1;
     color: #666;
     height: 30px;
     width: 30px;
     border: 0;
     border-radius: 50px;
     cursor: pointer;     
     outline: none;
}
.form-radio:checked::before
{
     position: absolute;
     font: 13px/1 'Open Sans', sans-serif;
     left: 11px;
     top: 7px;
     content: '\02143';
     transform: rotate(40deg);
}
.form-radio:hover
{
     background-color: #f7f7f7;
}
.form-radio:checked
{
     background-color: #f1f1f1;
}

#results {
    position: absolute;
    width: 1200px;
    display: inline-block;
    top: 65%;
left: 50%;
transform: translate(-80%);
}


.result{
    font-family: 'Raleway', sans-serif;
    display: inline-block;
    position: relative;
    box-shadow: 1px 1px 3px #0a161236;
    margin: 20px;
    background-color: #ffffff;
    height: 450px;
    overflow: hidden;
    left:50%;
    transform: translate(-50%);
    transition: 0.2s;

}

.result:hover {
    box-shadow: lightcoral;
    box-shadow:  1px 3px 4px 2px rgba(150, 150, 150, 0.795);

    transition: 0.2s;
    }

    .result .result img {
    position: absolute;
    height: 260px;
    display: block;

    
}
.result .rooms {
    color:black;
    position: absolute;
    top: 360px;
    padding-left: 5px;

    
}
.result .address {
    color:black;
    position: absolute;
    top: 315px;
    padding-left: 5px;


}
.result .price {
    position: absolute;
    top:221px;
    right: 0;
    background: orange;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color:white;
    font-weight: bold;

}

.parking {
    position: absolute;
    color:black;
    background-color: lightblue;
    padding: 4px;
    margin-top:10px;
    left: 7px;

}
.immediate{
    color:black;
    position: absolute;
    bottom: 15px;
    padding-left: 5px;

}

.email{
    color:black;
    position: absolute;
    bottom: 0;
    padding-left: 5px;

}

.check-group{
    height: 35px;
    display: inline-block;
    position: relative;
}



button:focus {outline:0;}

button:active{background-color: #9468e6;}

.result>img{
    position: relative;
    width: 320px;

    height: 260px;

}

.result>.label{
    font-weight: bold;
}

.result>.immediate{
    /* grid-area: lpark; */
    margin: 2px;
    margin-bottom: 10px;

}

.no-match{
    position: absolute;
    color: #DD6300;
    display: block;
    font-weight: bold;
    left: 68%;
    /* transform: translate(-50%); */
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    top: 40px;
}